<style>
  .foot_container {
    display: flex;
  }
  .foot_group {
    margin: 10px;
    /* flex: 1; */
  }
  .image {
    width: 150px;
    height: 150px;
    /* background-color: gray; */
  }
  .text {
    margin-top: 10px;
    text-align: center;
  }
</style>


<footer class="site-footer">

</footer>

<table width="100%" align="center" border="0" cellspacing="0" cellpadding="20">
  <tbody>
  <tr>
      <td>
          <heading>Affiliations</heading>
      </td>
  </tr>
  </tbody>
</table>
<table align="center">
  <tbody>
  <tr>
      <td width="23%" align="center">
          <a href="" target="_blank">
              <img style="width:120px" src="images/ytu.jpeg"></a>&nbsp &nbsp
      </td>
      <td width="23%" align="center">
          <a href="" target="_blank">
              <img style="width:120px" src="images/xinjiang.png"></a>&nbsp &nbsp
      </td>
  </tr>
  <tr>
      <td width="23%" align="center"><font size="2">YTU<br>2016-2020</font></td>
      <td width="23%" align="center"><font size="2">XJU<br>2021-2024</font></td>
  </tr>
  </tbody>
</table>
</footer>
