
<footer class="site-footer">

<table width="100%" align="center" border="0" cellspacing="0" cellpadding="20" style="color:black">
  <tbody>
  <tr>
      <td>
          <heading>Affiliations</heading>
      </td>
  </tr>
  </tbody>
</table>
<table align="center" style="color:black">
  <tbody>
  <tr>
      <td width="23%" align="center">
          <a href="" target="_blank">
              <img style="width:120px" src="/images/ytu.jpeg"></a>&nbsp &nbsp
      </td>
      <td width="23%" align="center">
          <a href="" target="_blank">
              <img style="width:120px" src="/images/xinjiang.png"></a>&nbsp &nbsp
      </td>
      <!-- <td width="23%" align="center">
        <a href="" target="_blank">
            <img style="width:120px" src="/images/tsinghua.png"></a>&nbsp &nbsp
    </td> -->
  </tr>
  <tr>
      <td width="23%" align="center"><font size="2">YTU<br>2016-2020</font></td>
      <td width="23%" align="center"><font size="2">XJU<br>2021-2024</font></td>
      <!-- <td width="23%" align="center"><font size="2">THU<br>2022-now</font></td> -->
  </tr>
  </tbody>
</table>
</footer>
