<style>
    /* Design Credits: Jon Barron and Abhishek Kar and Saurabh Gupta*/
    a {
            color: #1772d0;
            text-decoration: none;
        }

        a:focus, a:hover {
            color: #f09228;
            text-decoration: none;
        }

        body, td, th {
            font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: 400
        }

        heading {
            font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
            font-size: 19px;
            font-weight: 1000
        }

        strong {
            font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: 800
        }

        strongred {
            font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
            color: 'red';
            font-size: 16px
        }

        sectionheading {
            font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
            font-size: 22px;
            font-weight: 600
        }

</style>

<section class="page-header">
  <table width="500" border="0" align="center" cellspacing="0" cellpadding="20" style="color:black">
    <tr>
      <td halign="center">
          <p align="center" class="heading">
              <font size="6" >Zhibin Qiu  &nbsp;&nbsp;&nbsp; 邱智斌</font>
          </p>
      </td>
    </table>
  <table width="650px" align="center" border="0" cellspacing="0" cellpadding="20" style="color:black">
    <tr>
        <td width="67%" valign="middle">
            <p>I am a master student in Computer Science at <a href="https://www.xju.edu.cn">Xinjiang University</a>
                advised by <a href="http://it.xju.edu.cn/info/1149/1706.htm">Prof. Hao Huang</a>.
                I am very interested in generative models, especially the recent diffusion models, consistency models, and my research is exploring the application of generative methods to speech signal processing.
            </p>
           <p> I am a visiting researcher at <a href="https://www.tsinghua.edu.cn">Tsinghua university</a> working with Prof. Fuchun Sun for one year (2022.7-now) and mainly responsible for audio-visual object localization related work. </p>
            <p align="center">
                 <a href=mailto:2206411193@qq.com>E-Mail</a> | <a
                    href="https://scholar.google.com/citations?user=aR0c7HwAAAAJ&hl=zh-CN">Google Scholar</a> |
                <a href="https://github.com/zhibinQiu">Github</a> 
            </p>
        </td>
        <td width="100%" valign="top">
            <img src="/images/avatar.png" width="60%">
        </td>
    </tr>
</table>
</section>